USERNAME=<Username of Coinbase Cloud account>
PASSWORD=<Password of Coinbase Cloud account>
NODE_URI="goerli.ethereum.coinbasecloud.net"
MNEMONIC=<Mnemonic of the wallet holding the ERC1155 tokens>
CONTRACT_ADDRESS=<Contract address of the ERC1155 tokens>
MAX_GOLD_BADGE_TOTAL_QUANTITY=<Max number of gold badges owned by one user>
MAX_GOLD_BADGE_TRANSFER_QUANTITY=<Max number of gold badges per transfer>
MAX_POINT_TOTAL_QUANTITY=<Max number of points owned by one user>
MAX_POINT_TRANSFER_QUANTITY=<Max number of points per transfer>